* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    /* height: 80vh; */
    margin: 60px;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    backdrop-filter: blur(2.5px);
  }
  
  .services-screen,.products-screen{
    background-image: url('../public/images/img-15.jpg');
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* color: #fff; */
    color: black;
    font-size: 100px;
  }
  
  .services-container,
  .products-container,
  .sign-up-container{
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .dummy-link{
    font-size: 25px;
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 14px;
    padding: 10px 60px;
    border-radius: 25px;
    text-decoration: none;
  }
  
  
  .products-screen {
    background-image: url('../public/images/img-16.jpg');
  }
  
  .sign-up-screen {
    background-image: url('../public/images/img-16.jpg');
    height: 100vh;
    
  }