* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    /* height: 80vh; */
    margin: 60px;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    backdrop-filter: blur(2.5px);
  }
  
  .services-screen,.products-screen{
    background-image: url('../public/images/img-15.jpg');
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* color: #fff; */
    color: black;
    font-size: 100px;
  }
  
  .services-container,
  .products-container,
  .sign-up-container{
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .dummy-link{
    font-size: 25px;
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 14px;
    padding: 10px 60px;
    border-radius: 25px;
    text-decoration: none;
  }
  
  
  .products-screen {
    background-image: url('../public/images/img-16.jpg');
  }
  
  .sign-up-screen {
    background-image: url('../public/images/img-16.jpg') ;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .sign-up-container-box{
    border: 2px solid white;
    border-radius: 25px;
    margin: 10px 26px;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    backdrop-filter: blur(5px);
    stroke: white;
    text-shadow: rgb(255, 251, 251) 0px 1px 7px;

    
  }
  .sign-up-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .sign-up-form >Label{
    margin: 2px;
    padding: 5px 5px;
    font-size: large;
  }
  .sign-up-form-label >input{
    border-radius: 5px;
    background: transparent;
  }
  .sign-up-submit{
    color:black;
    background-color: white;
    text-decoration: none;
    margin: 9px;
    padding: 11px 30px;
  }
  .sign-up-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
 


